*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

a.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
     display: inline-block;
     line-height: 80px;
     margin: 0 5px;  
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;

}

a.active{
    background: #1b9bff;
    transition:  .5;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    a.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .dropbtn{
      display: none;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.active{
        background: none;
        color: #0082e6;
    }

    .sticker-content{
      display:flex;
      flex-direction: column;
    }


    #check:checked ~ ul {
        left : 0;
        background-size: cover;
        height: calc(100vh- 80px);
    }
}

@media screen and (min-width: 858px){
  .dropbtn {
    color: white;
    /* padding: 10px; */
    border: none;
    cursor: pointer;
    border-radius: 3px;
    /* width: 80%; */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    top: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 20px;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 3px;
    left: -50px;
  }
  .dropdown:hover .dropbtn {
    background-color: #1b9bff;
  }
  .sticker-content{
   font-size: 12px;
  }

}

.msg{
  padding-top: 1%;
  color: red;
  text-align: center;
  /* margin-left: 50%; */
}

.containerbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }
  .containerbox .box {
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
  }

  .containerbox .box .icon {
      position: relative;
      width: 80px;
      height: 80px;
      color: #fff;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      border-radius: 50%;
      font-size: 30px;
      font-weight: 700;
      transition: 1s;
  }
  
  .boxbtn{
      display: inline-block;
      padding: 10px 20px;
      background: #000;
      border-radius: 4px;
      text-decoration: none;
      color: #fff;
      font-weight: 500;
      margin-top: 20px;
  }

  .boxbtn:hover{
    background-color: red;
  }

.fcontainer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #282d32;;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #282d32;;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.copyright {
    /* text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0; */
    color: white;
  } 

.signupbtn {
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  align-items: center;
  font-family: sans-serif;
  font-size: 16px;
  /* margin-left: 25%; */
} 

.custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    --field-padding: 12px;
}

.custom-field input {
  border: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  top: 22px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #aaa;
}

.signbtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 2px;
  width: 250px;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.signbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.signbtn span:after {
  /* content: '\00bb'; */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.signbtn:hover span {
  padding-right: 25px;
}

.signbtn:hover span:after {
  opacity: 1;
  right: 0;
}



.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #aaa;
  transition: 
    /* top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease; */

    top 0.3s cubic-bezier(0, 0.64, 0.25, 1),
    color 0.3s cubic-bezier(0.25, 0.1, 0.45, 0.34),
    font-size 0.3s cubic-bezier(0.25, 0.1, 0.59, 0.61);
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 10px;
  color: #222;
}

.welcome{
  text-align: center;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}